@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
  
}
.content__center{
  @apply flex justify-center items-center;
}
h5{
  font-family: 'Barlow Condensed', sans-serif;
  @apply text-[#D0D6F9] text-[16px] font-thin tablet:text-[20px] desktop:text-[28px] tracking-wider;
}
h1{
  @apply text-p-white text-[80px] tablet:tracking-normal tracking-widest tablet:text-[120px] desktop:text-[150px] ;
}
.barlow{
  font-family: 'Barlow Condensed', sans-serif;
}
.explore{
  transform-style: preserve-3d;
  @apply text-p-black rounded-[50%] bg-p-white w-[150px] h-[150px] tablet:h-60 tablet:text-4xl tablet:w-60 text-center z-10 font-thin;
}
.toggle_menu{
  
background: rgba(3, 0, 0, 0.90);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.90);

border: 1px solid rgba(3, 0, 0, 0.3);
}

.menu{
  position: fixed;
  animation: menu 1s;
}
.menu>ul{
  animation: ul_appear 3s;
}



@media (min-width:1280px) {
  .home_desktop-bg{
    margin: -56px;
    background: rgba(87, 86, 86, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
  }
  .explore:hover::before{
    content: '';
    position: absolute;
    top: -80px;
    left: -80px;
    right: -80px;
    bottom: -80px;
    border-radius: 50%;
    background: rgba(244, 235, 235, 0.2);
    z-index: -1;
    transform: translateZ(-1px);
  }

}

@keyframes ul_appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes menu {
  0%{
    bottom: 100%;
  }
  100%{
    bottom: 0%;
    
  }
}
